body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;
    background-color: brown;
    padding: 5px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
}
nav{
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
}
li.info{
    display: inline;
    margin-right: 20px;
    background-color: lightgray;
    color: gray;
}
footer{
    background-color: lightgray;
    padding: 1px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
#Uitleg{
    background-color: brown;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
}
a:hover{
    color: white;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
img{
    margin-left: 20px;
}
section{
    background-color: lightgray;
    margin: 20px;
    border-radius: 5px;
}
#FotoSection{
    color: white;
    text-align: center;
    background-color: brown;
    padding: 0.1px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
#Beschrijving{
    color: white;
    background-color: brown;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 1px;
    padding-left: 5%;
}
img{
    padding-right: 35px;
}